# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore test files
test/
tests/

# Ignore config files (chỉ dùng trong môi trường phát triển)
.env
config.local.js

# Ignore any build output
build/
dist/

# Ignore documentation files (nếu không cần thiết)
# *.md
# README.md

.publishrc.json
.npm-multi-publish-tmp